   /*content:contenido, padding:relleno, border: borde, background-image: imagen de fondo, background-color: color de fondo, margin:margen(top:superior, inferior:bottom, derecho: right, izquierdo: left*/
   /* 
   * es un selector universal, la regla se aplica a todos los elementos de la pagina*/
   *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;/*box-sizing calcula el ancho y alto total de un elemento, border box indica que el borde esta incluido*/
        list-style: none; /*oculta los puntos indicativos de items de las listas*/
        text-decoration: none;
    }
    /*unidades de medida em, relativa respecto de "M", ex relativa respecto de "x", px relativa respecto a la pantalla del usuario, % tamaño normal se considera 100%*/
    /*display:flex convierte el elemento en un recipiente flexible y sus hijos se convierten en elementos flexibles*/
    /*flex-dirrection especifica en que direccion corre el eje pricipal (row para filas, column para columnas)*/
    body {
        font-family: system-ui, sans-serif;
        color: #e097cf;
        background-image: url("./IMAGENES/fondomobile.jpg");
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    header {
        background-color: hotpink;
        padding: 16px;
        border: 2px solid fuchsia;
        border-radius: 16px;
        display: flex;
        justify-content: space-between; /*space-between: Los elementos se distribuyen uniformemente dentro del contenedor de alineación a lo largo del eje principal. El primer elemento está al ras con el borde inicial principal y el último elemento está al ras con el borde final principal.*/
        align-items: center;
        font-weight: bolder;
    }
    main {
        padding: 16px;
    }
    aside{
        width: 600px;
        padding: 8px;
        border: 2px solid fuchsia;
        border-radius: 8px;
        background-color: #5dbee8;
        color: #0e0e0e;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px; /*gap especifica el tamaño de las canaletas, que es el espacio entre filas y columnas dentro de la cuadrícula, flexión y diseño de múltiples columnas.*/
    }
    footer {
        margin-top: auto;
        background-color: black;
        padding: 5px;
        border: 2px solid rgb(219, 103, 219);
        border-radius: 16px;
        display: grid;
        place-items: center;
    }
    /* h1, h2, h3, navv, ul, li, etc son selectores del tipo etiqueta aplica la regla a todos los elementos cuya etiqueta coincida con el selector*/
    h1 {
        font-weight: 300;
    }
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #0e0e0e;
    }
    h3{
        color: #333;
    }
    .imgLogo {
        width: 40px;
        opacity: 0.8;
        border-radius: 50%;
        transition: all 0.3s;
    }
    .imgLogo:hover {
        transform: scale(1.1);
        border-radius: 10px;
        box-shadow: 0 0 4px #fff;
        opacity: 1;
        transition: all 0.3s;
    }
    nav {
        width: 100%;
        margin-top: 2rem;
        padding: 10px;
        background-color: rgb(25, 20, 20);
        flex-direction: row;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
    }
    li {
        transition: all 0.5s;
    }
    /*position relative, absolute, fixed, sticky*/
    .menuOculto {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #000;
        padding: 16px;
        border-radius: 8px;
        width: 100%;
    }
    
    li:hover .menuOculto {
        display: flex;
        flex-direction: column;
        gap: 16px;
        transition: all 0.3s;
    }
    a {
        color: violet;
        font-weight: 500;
        transition: all 0.3s;
    }
    li:hover {
        transform: translateY(-4px);
        transition: all 0.3s;
    }
    a:hover {
        color: #39ce28;
        transition: all 0.3s;
    }
    /* .XXXXX selectores de clase, dentro del html, en distintas etiquetas que queremos que tengan la misma regla se coloca una clase con un mismo nombre*/
    .formulario{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    }
    .cursiva {
        font-style: italic;
    }
    /*text-transform: capitalize: Todas Las Primeras Letras Se Trasforman En Mayusculas (uppercase todas en mayusculas y lowercase todas en minusculas)*/
    .parrafoConEstilosDiferentes {
        color: pink;
        background-color: violet;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: capitalize;
    }
    .cardsContainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 16px;
    }
    .cardBody {
        width: 200px;
        padding: 8px;
        border-radius: 8px;
        background-color: #e0e0e0;
        color: #0e0e0e;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        cursor: pointer;
        transition: all 0.3s;
    }
    .cardBody:hover {
        transform: scale(0.9);
        transition: all 0.3s;
    }
    .cardBody img {
        width: 100%;
        border-radius: 6px;
        box-shadow: 0 2px 4px #6cd2fa;
    }
    .cardTitle {
        font-weight: bold;
        font-size: 18px;
    }
    .cardInfo {
        color: #333;
        font-size: 0.9rem;
    }
    .producCardPrice {
        display: flex;
        gap: 20px;
    }
    .producCardPrice b {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .producCardPrice span {
        font-size: 1rem;
        font-weight: bold;
        color: rgb(56, 215, 56);
    }
    .oscuro{
        color: #333;
    }
    .fondocar{
        background-color: #5dbee8;
        width: 700px;
        padding-left: 25%;
    }
    .descarga{
        background-color: #0e0e0e;
        font-size: large;
        border-style: solid;border-color: aqua;
    }
   /*display: grid (diseño de cuadricula) permite alinear elementos en lineas o columnas*/
    @media only screen and (min-width: 481px) and (max-width: 768px){
        .cardsContainer{
            display: grid;
            grid-template-columns: 1fr 1fr; /* 2 columnas cada una mide 1 fraccion del espacio disponible*/
        }  
        .cuerpo{
            background-image: url(./IMAGENES/labios\ 1.jpg);
        }
        }
        /*media queries permite adaptar el diseño de la pagina a las caracteristicas de la pantalla del dispositivo en el que se lo esta visualizando*/
        @media only screen and (min-width: 769px) {
            footer {
                margin-top: auto;
                background-color: black;
                padding: 5px;
                border: 2px solid rgb(219, 103, 219);
                border-radius: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                place-items: center;
            }
            .cardsContainer{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }  
            .cuerpo{
                background-image: url(./IMAGENES/fondo.jpg);
            }
            }
        